<div id="home">
  <div class="home-content">
    <h1>Julia Joly da Silva</h1>
    <p>assistante maternelle à Istres</p>
    <p class="about">
      <%= link_to "En savoir plus sur Julia", "about.html", class: "btn-medium" %>
    </p>
  </div>
</div>
